@model WalletTransactionsViewModel
@using Sp8de.Common.Enums

@{
    ViewData["Title"] = "Wallet Transactions";
    ViewBag.PageClass = "transactions";
}

@section Scripts{
    <link rel="stylesheet" href="~/css/old.css" asp-append-version="true" />
}


<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>

<div class="container transaction-table">

    <h1>@ViewData["Title"]</h1>

    @if (!Model.HasTransactions)
    {
        <div class="description-block">
            <p>Wallet transactions were not found.</p>
        </div>
    }

    <div class="transaction-wrapper">
        <div class="content-of-page transaction-table">
            <div class="table-transiction">
                <div class="table-line">
                    <div class="table-flex">
                        <div class="table-title-block date-table">
                            <span>DATE</span>
                        </div>
                        <div class="table-title-block time-table">
                            <span>TIME</span>
                        </div>
                        <div class="table-title-block depart-table">
                            <span>Type</span>
                        </div>
                        <div class="table-title-block amount-table">
                            <span>Amount</span>
                        </div>
                        <div class="table-title-block status-table">
                            <span>Status</span>
                        </div>
                        <div class="table-title-block arrow-table">
                        </div>
                    </div>
                </div>
                @if (Model.HasTransactions)
                {
                    foreach (var item in Model.Transactions)
                    {
                        <div class="table-line">
                            <div class="table-flex">
                                <div class="table-main-block date-table">
                                    <span>@item.DateCreated.ToUniversalTime().ToString("dd/MM/yyyy")</span>
                                </div>
                                <div class="table-main-block time-table">
                                    <span>@item.DateCreated.ToUniversalTime().ToString("HH:mm")</span>
                                </div>
                                <div class="table-main-block depart-table">
                                    <span>@item.Type.ToString()</span>
                                </div>
                                <div class="table-main-block amount-table">
                                    <span>@item.Amount.ToString("0.000000") @item.Currency</span>
                                </div>
                                @switch (item.Status)
                                {

                                    case WalletTransactionStatus.New:
                                        <div class="table-main-block status-table pending-status"><span>@item.Status</span></div>
                                        break;
                                    case WalletTransactionStatus.Pending:
                                        <div class="table-main-block status-table pending-status"><span>@item.Status</span></div>
                                        break;
                                    case WalletTransactionStatus.ConfirmedByManager:
                                        <div class="table-main-block status-table pending-status" title="@item.Status"><span>Pending</span></div>
                                        break;
                                    case WalletTransactionStatus.Compleated:
                                        <div class="table-main-block status-table completed-status"><span>Completed</span></div>
                                        break;
                                    case WalletTransactionStatus.Error:
                                        <div class="table-main-block status-table error-status"><span>Error</span></div>
                                        break;
                                    case WalletTransactionStatus.Rejected:
                                        <div class="table-main-block status-table error-status"><span>@item.Status</span></div>
                                        break;
                                }
                                <div class="table-main-block arrow-table arrow-table-class">
                                </div>
                            </div>
                            <div class="open-more-info-table">
                                <span class="open-more-info-table-title">
                                    <span>@item.Currency received.</span>
                                </span>
                                <div class="table-line">
                                    <div class="table-flex">
                                        <div class="table-title-block date-table">
                                            <span>DATE</span>
                                        </div>
                                        <div class="table-title-block time-table">
                                            <span>TIME</span>
                                        </div>
                                        <div class="table-title-block amount-table">
                                            <span>Amount</span>
                                        </div>
                                        <div class="table-title-block status-table">
                                            <span>Status</span>
                                        </div>
                                        <div class="table-title-block desription-table">
                                            <span>DESCRIPTION</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-line">
                                    <div class="table-flex">
                                        <div class="table-main-block date-table">
                                            <span>@item.DateCreated.ToUniversalTime().ToString("MM/dd/yyyy")</span>
                                        </div>
                                        <div class="table-main-block time-table">
                                            <span>@item.DateCreated.ToUniversalTime().ToString("HH:mm")</span>
                                        </div>
                                        <div class="table-main-block amount-table">
                                            <span>@item.Amount.ToString("0.000000") @item.Currency</span>
                                        </div>
                                        @switch (item.TransactionInfo.Status)
                                        {
                                            case BlockchainTransactionStatus.Undefined:
                                                <div class="table-main-block status-table pending-status"><span>Undefined</span></div>
                                                break;
                                            case BlockchainTransactionStatus.New:
                                                <div class="table-main-block status-table pending-status"><span>New</span></div>
                                                break;
                                            case BlockchainTransactionStatus.Pending:
                                                <div class="table-main-block status-table pending-status"><span>Pending</span></div>
                                                break;
                                            case BlockchainTransactionStatus.ConfirmedByGate:
                                                <div class="table-main-block status-table pending-status"><span>Pending</span></div>
                                                break;
                                            case BlockchainTransactionStatus.ConfirmedAndValidated:
                                                <div class="table-main-block status-table completed-status"><span>Accepted</span></div>
                                                break;
                                            case BlockchainTransactionStatus.Error:
                                                <div class="table-main-block status-table error-status"><span>Error</span></div>
                                                break;
                                            case BlockchainTransactionStatus.Canceled:
                                                <div class="table-main-block status-table error-status"><span>Canceled</span></div>
                                                break;
                                        }
                                        <div class="table-main-block desription-table">
                                            <span>
                                                Initial deposit. Transaction Hash:

                                                @if (item.Currency == Currency.ETH || item.Currency == Currency.SPX)
                                                {
                                                    <a target="_blank" href="https://etherscan.io/tx/@item.TransactionInfo.GetTransactionHash()">@item.TransactionInfo.TransactionHash.Substring(0, 7)...</a>
                                                }

                                                @if (item.Currency == Currency.ADA)
                                                {
                                                    <a target="_blank" href="https://cardanoexplorer.com/tx/@item.TransactionInfo.GetTransactionHash()">@item.TransactionInfo.TransactionHash.Substring(0, 7)...</a>
                                                }
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                @*
                                    @if (item.Currency != Currency.SPX)
                                    {
                                        <div class="table-line">
                                            <div class="table-flex">
                                                <div class="table-main-block date-table">
                                                    <span>@item.DateCreated.ToUniversalTime().ToString("MM/dd/yyyy")</span>
                                                </div>
                                                <div class="table-main-block time-table">
                                                    <span>@item.DateCreated.ToUniversalTime().ToString("HH:mm")</span>
                                                </div>
                                                <div class="table-main-block amount-table">
                                                    <span>@item.TransactionInfo.Amount @item.TransactionInfo.Currency</span>
                                                </div>
                                                <div class="table-main-block status-table completed-status">
                                                    <span>Completed</span>
                                                </div>
                                                <div class="table-main-block desription-table">
                                                    <span>	Converted to @Currency.SPX</span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                *@

                                <div class="table-line">
                                    <div class="table-flex">
                                        <div class="table-main-block date-table">
                                            <span>@item.DateCreated.ToUniversalTime().ToString("MM/dd/yyyy")</span>
                                        </div>
                                        <div class="table-main-block time-table">
                                            <span>@item.DateCreated.ToUniversalTime().ToString("HH:mm")</span>
                                        </div>
                                        <div class="table-main-block amount-table">
                                            <span>... @item.Type.ToString()</span>
                                        </div>
                                        <div class="table-main-block status-table pending-status" title="Pending">
                                            <span>Pending</span>
                                        </div>
                                        <div class="table-main-block desription-table">
                                            <span>Generating ICO Tokens</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</div>